body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #B22222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #B22222;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a, .dropdown-btn {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Aumentar padding para mejor clic */
    display: inline-block;
    background-color: #B22222;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

nav ul li a:hover, .dropdown-btn:hover {
    background-color: #8B0000;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f4f4f4;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 10px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Mostrar el contenido desplegable al hacer clic */
.show {
    display: block;
}

/* Estilos para el main */
main {
    display: flex; /* Usar flexbox para el contenido principal */
    justify-content: space-between; /* Espaciado entre texto y video */
    padding: 20px;
}

/* Estilo para la sección de texto */
section {
    flex: 1; /* Permitir que ocupe el espacio disponible */
    margin-right: 20px; /* Espacio entre el texto y el video */
}

.centered-image {
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 20px auto; /* Aplica margen automático para centrar */
    max-width: 100%; /* Asegura que la imagen no sobrepase el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}


/* Estilo para el video */
video {
    max-width: 400px; /* Limitar el ancho del video */
    height: auto; /* Mantener la proporción del video */
}
